<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<script >
		function msg(){
			if(Date=="bdate")
			{
				alert("please choose the date of your function");
				
			}
			else{
			alert("Booked successfully! Thank You..!");
			alert("Please Go to the Auditorium office within 3 days from booking ,Do payment and complete your booking process");
			return true;
			
		}}
	</script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Hall Management System</h1>
		<hr>
		<h2>Update Hall</h2>

		<form action="saveBook" th:action="@{/saveBook}" th:object="${hall}"
			method="POST"  >			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" name="hall" />
			
			<input type="text" th:field="*{name}" class="form-control mb-4 col-4" readonly="readonly">
				
				<input type="text" th:field="*{address}" class="form-control mb-4 col-4" readonly="readonly">
				<textarea rows="10" cols="15" th:field="*{address}" class="form-control mb-4 col-4" readonly="readonly"></textarea>
				<input type="text" th:field="*{email}" class="form-control mb-4 col-4" readonly="readonly">
				<input type="number" th:field="*{mobile}" class="form-control mb-4 col-4" readonly="readonly">
				<input type="text" th:field="*{email}" class="form-control mb-4 col-4" readonly="readonly">
				<input type="number" th:field="*{seatings}" class="form-control mb-4 col-4" readonly="readonly">
				<input type="text" th:field="*{cooking}" class="form-control mb-4 col-4" readonly="readonly">
				<input type="hidden" 
				placeholder="username" class="form-control mb-4 col-4" name="user" value="10">
				<input type="number" th:field="*{Rate}" class="form-control mb-4 col-4" readonly="readonly">
				
				 <input type="text" 
				placeholder="Date" class="form-control mb-4 col-4" name="userdate" >
				<form action="/action_page.php">
  <label for="Date"> Function Date</label>
  <input type="date" id="Date" name="userdate">
  
</form>
				
				<button type="submit" class="btn btn-info col-2"  onclick="msg()"> Book </button >
		</form>
		
		<hr>
		
		<a th:href = "@{/halls_user}"> Back to Hall List</a>
	</div>
</body>
</html>